@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

*{
	margin: 0;
	padding: 0;
}

.contenedor{
	height: 100vh;

	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 0 80px;
}

.contenedor a{
	margin-top: 50px;
	/*width: 254px;*/
}

.img-escuela{
   width: 260px;
   height: 106px;
   background-image: url("logo-EAC-inicio.png");
   background-size: cover;
}

.img-escuela:hover{
	transition: all 0.5s ease;
	background-image: url("logo-EAC-inicio-color.png");
}

h1{
	text-align: center;
	font-size: 1em;
	font-family: 'Rubik', sans-serif;
}

.enlace{
	text-decoration: none;
	color:black;
}

@media (min-width: 300px){
	h1{
		font-size: 2em;
	}
}

@media (min-width: 500px){
	h1{
		font-size: 2.5em;
	}
	.contenedor{
		width:70%;
	}	
}

@media (min-width: 700px){
	h1{
		font-size: 3em;
	}
	.contenedor{
		width:50%;
	}
}

@media (min-width: 800px){
	h1{
		font-size: 3.5em;
	}
	.contenedor{
		width:50%;
	}
}

@media (min-width: 1024px){
	h1{
		font-size: 4em;
	}
	.contenedor{
		width:50%;
	}
}